.text-input {
  border: none;
  outline: none;
  background-color: #5f2a75;
  color: #fff;
  width: 50rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}
